In [10]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [11]:
#pills data
pills = pd.read_csv('pills-per-zipcode.csv')

#race data
demo_hispanic = pd.read_csv('2010Census_DemoProfile3b_Hispanic.csv')
df2 = demo_hispanic[['Geography','Hispanic or Latino (of any race)']]
df2zip = df2.rename(columns={"Geography":"Zip Code","Hispanic or Latino (of any race)":"Hispanic"})

demo_bw = pd.read_csv('2010Census_White_AfricanAmerican.csv')
df3 = demo_bw[['Geography','White','Black or African American']]
df3zip = df3.rename(columns={"Geography":"Zip Code"})


#merge
merge_table = pd.merge(pills, df2zip, on="Zip Code")
merge_table
full_table = pd.merge(merge_table, df3zip, on="Zip Code")
full_table

,Zip Code,City,Pills,Hispanic,White,Black or African American
0,94550,LIVERMORE,52022690,"7,821","37,291",884
1,90242,DOWNEY,21791650,"31,578","23,624","2,313"
2,92010,CARLSBAD,10548200,"1,979","11,508",237
3,95350,MODESTO,6547370,"15,447","35,584","1,951"
4,95825,SACRAMENTO,6087880,"7,835","18,282","3,919"
...,...,...,...,...,...,...
1235,93222,PINE MOUNTAIN,0,215,"1,878",26
1236,93219,EARLIMART,0,"9,243","3,781",90
1237,95604,AUBURN,0,3,71,0
1238,93067,SUMMERLAND,0,138,795,2
1239,93066,SOMIS,0,"1,132","2,437",22

In [12]:
sample = full_table.head(10)

In [13]:
population = full_table.head(500)

In [16]:
sample

   Zip Code        City     Pills Hispanic   White Black or African American
0     94550   LIVERMORE  52022690    7,821  37,291                       884
1     90242      DOWNEY  21791650   31,578  23,624                     2,313
2     92010    CARLSBAD  10548200    1,979  11,508                       237
3     95350     MODESTO   6547370   15,447  35,584                     1,951
4     95825  SACRAMENTO   6087880    7,835  18,282                     3,919
5     92880    EASTVALE   6073560   23,601  27,955                     4,909
6     95926       CHICO   5944440    5,261  30,677                       903
7     95355     MODESTO   5795360   15,129  40,983                     2,309
8     95661   ROSEVILLE   5261460    3,918  24,704                       535
9     95823  SACRAMENTO   5053810   24,849  19,727                    16,989